.enquire-form {
  background-color: #F9C5D5;
}

.enquire-text {
  background-color: inherit;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;;
}

.enquire-text h1 {
  font-family: logo-name-font;
  padding: 3rem 0;
  font-size: 3rem;
}

.enquire-text p {
  font-size: 1.3rem;
}

.background-container {
  background-color: white;
}

.container {
  padding: 3rem 0;
  width: 70%;
  background-color: #F9C5D5;
}

.form {
  width: 70%; 
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form p {
  font-size: 1.2rem;
}

input[type=reset], select {
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'Glacial Indifference', sans-serif;
  color: black;
  padding: 2px 25px;
  margin-left: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.button-enquire {
  background-color: black;
  font-size: 1.5rem;
  font-family: 'Glacial Indifference', sans-serif;
  color: white;
  padding: 2px 25px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px black
}

@font-face {
  font-family: logo-name-font;
  src: url(../amsterdam-two-ttf.ttf);
}

/*default styles below*/


.mainlogo {
  display: block;
  margin: 0 0 0 5rem;
  padding-bottom: 0;
  height: 8rem;
  width: auto;
}

.navbar, .navbar-brand {
  padding: 0;
}

.navbar-nav {
  font-size: 18px;
}

.navbar-nav li {
  padding: 1rem;
}

a:hover {
  color: grey;
}

a {
  color: black;
}

.social-inst-li {
  position: absolute;
  left: 92%;
  top: 1rem;
}

.social-inst {
  height: 2rem;
  width: auto;
}

.social-fb-li {
  position: absolute;
  left: 95%;
  top: 1rem;
}

.social-fb {
  height: 2rem;
  width: auto;
}


.review {
  background-color: #FEE3EC;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 40px;
  text-align: center;
  background-color: #FEE3EC;
  color: black;
}

.footer {
  background-color: #FEE3EC;
  padding: 1rem 0 3rem;
  position: relative;
  text-align: center;
}

.social-fb-footer {
  height: 2rem;
  width: auto;
  padding-right: 1rem;
}

.social-inst-footer {
  height: 2rem;
  width: auto;
  padding-left: 1rem;
}

.social-inst-footer:hover {
  transform: scale(1.25);
}

.social-fb-footer:hover {
  transform: scale(1.25);
}

.copyright {
  font-size: 0.75rem;
  color: grey;
  position: absolute;
  right: 5px;
  bottom: 2px;
  margin-bottom: 0
}

body {
  margin: 0;
  text-align: center;
}
