.banner {
  background-color: white;
  height: 28rem;
}

.mainlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  height: 400px;
  width: auto;
}

.navul {
  border: 1px grey;
  border-style: solid none solid;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FEE3EC;
}

.navli {
  display: inline-block;
}

li a {
  color: black;
  text-align: center;
  font-size: 2rem;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

.about {
  background-color: #F9C5D5;
  height: 100%;
}

.aboutme {
  margin: 0 auto;
  line-height: 1.6rem;
  width: 50%;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  text-align: left;
}

.aboutmepic {
  float: center;
  width: auto;
  height: 430px;
  padding-bottom: 2rem;
}

.promo {
  background-color: #F9C5D5;
  height: 100%;
}

.line {
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  color: grey;
  margin: 0 auto;
  display: block;
}

.gallary {
  background-color: #734046;
  color: #ffeebb;
  position: relative;
  padding-left: 30px;
}

.p-light {
  color: #ffeebb;
  text-align: center;
}

.contact {
  background-color: #F9C5D5;
  padding-bottom: 40px;
}

.contact-form {
  text-align: center;
}

.review {
  background-color: #FEE3EC;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 40px;
  text-align: center;
  background-color: #FEE3EC;
  color: black;
}

.footer {
  background-color: #FEE3EC;
  padding: 0 0 3rem;
  position: relative;
  text-align: center;
}

.social-fb {
  height: 2rem;
  width: auto;
  padding-right: 1rem;
}

.social-inst {
  height: 2rem;
  width: auto;
  padding-left: 1rem;
}

.social-inst:hover {
  transform: scale(1.25);
}

.social-fb:hover {
  transform: scale(1.25);
}

.copyright {
  font-size: 0.75rem;
  color: grey;
  position: absolute;
  right: 5px;
  bottom: 2px;
  margin-bottom: 0
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 120px;
  top: 230px;
  font-size: 2.5rem;
  color: #ffeebb;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 3rem 0 1rem;
  font-size: 2.5rem;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

p {
  text-align: left;
  margin: auto;
  color: black;
}
