.banner {
  background-color: white;
  height: 29rem;
}

.mainlogo {
  display: block;
  margin: 2rem auto;
  height: 450px;
  width: auto;
}

.navul {
  border: 1px grey;
  border-style: none;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

.navli {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
}

li a {
  color: #F2789F;
  text-align: center;
  font-size: 3.5rem;
  padding: 14px 2rem;
  text-decoration: none;
  font-weight: 500;
}

li a:hover {
  background-color: white;
  text-decoration: none;
  color: #46322B;
}

.about {
  background-color: #F9C5D5;
  height: 100%;
}

.aboutme {
  margin: 0 auto;
  line-height: 1.6rem;
  width: 100%;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  text-align: left;
}

.aboutmepic {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.p-about {
  Width: 80%;
  color: #F9C5D5;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.promo {
  background-color: white;
  height: 100%;
}

.promo1 {
  width: 80%;
  height: auto;
  margin: 6rem auto;
}

.carousel-inner {
  background-color: #F9C5D5;
}

.contact {
  background-color: #F9C5D5;
  padding-bottom: 40px;
}

.contact-form {
  text-align: center;
}

.review {
  background-color: #FEE3EC;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 40px;
  text-align: center;
  background-color: #FEE3EC;
  color: black;
}

.footer {
  background-color: #FEE3EC;
  padding: 0 0 3rem;
  position: relative;
  text-align: center;
}

.social-fb {
  height: 2rem;
  width: auto;
  padding-right: 1rem;
}

.social-inst {
  height: 2rem;
  width: auto;
  padding-left: 1rem;
}

.social-inst:hover {
  transform: scale(1.25);
}

.social-fb:hover {
  transform: scale(1.25);
}

.copyright {
  font-size: 0.75rem;
  color: grey;
  position: absolute;
  right: 5px;
  bottom: 2px;
  margin-bottom: 0
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 120px;
  top: 230px;
  font-size: 2.5rem;
  color: #ffeebb;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 3rem 0 1rem;
  font-size: 2.5rem;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

p {
  text-align: left;
  margin: auto;
  color: black;
}
