.banner {
  background-color: white;
  height: 29rem;
}

.mainlogo {
  display: block;
  margin: 2rem auto;
  height: 450px;
  width: auto;
}

.navul {
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: white;
}

.navli {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
}

li a {
  color: #F2789F;
  text-align: center;
  font-size: 3.5rem;
  padding: 14px 2rem;
  text-decoration: none;
  font-weight: 500;
}

li a:hover {
  background-color: white;
  text-decoration: none;
  color: #46322B;
}

.about {
  background-color: #F9C5D5;
  height: 100%;
}

.row {
  margin: 0;
}

.carousel-inner {
  background-color: #F9C5D5;
  padding-bottom: 2rem;
}

.d-inline {
  width: 30%;
  height: auto;
}

.aboutme {
  margin: 0 auto;
  line-height: 1.6rem;
  width: 100%;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  text-align: left;
}

.p-about {
  Width: 70%;
  background-color: #F9C5D5;
  text-align: center;
  color: #46322B;
  font-size: 1.5rem;
}

.promo {
  background-color: white;
  height: 100%;
}

.promo1 {
  width: 100%;
  height: auto;
  margin: 4rem auto;
}

.promo-pic {
  width: 60vw;
  height: auto;
}

.pic-gallery {
  height: 100vh;
  width: 100%;
  opacity: 0.6;
}

.pic-gallery:hover {
  opacity: 1;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #46322B;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.info-pics {
  height: 100%;
  width: 100%;
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}








.contact {
  background-color: #F9C5D5;
  padding-bottom: 40px;
}

.contact-form {
  text-align: center;
}

.review {
  background-color: #FEE3EC;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 40px;
  text-align: center;
  background-color: #FEE3EC;
  color: black;
}

.footer {
  background-color: #FEE3EC;
  padding: 1rem 0 3rem;
  position: relative;
  text-align: center;
}

.social-fb {
  height: 2rem;
  width: auto;
  padding-right: 1rem;
}

.social-inst {
  height: 2rem;
  width: auto;
  padding-left: 1rem;
}

.social-inst:hover {
  transform: scale(1.25);
}

.social-fb:hover {
  transform: scale(1.25);
}

.copyright {
  font-size: 0.75rem;
  color: grey;
  position: absolute;
  right: 5px;
  bottom: 2px;
  margin-bottom: 0
}

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 120px;
  top: 230px;
  font-size: 2.5rem;
  color: #ffeebb;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 3rem 0 1rem;
  font-size: 2.5rem;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

p {
  text-align: left;
  margin: auto;
  color: black;
}
